* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    text-align: center;
    font-size: 35px;
    color:white;
    background-image: linear-gradient(to right, rgb(138, 202, 255) , rgb(4, 2, 92));

}

.container{
    display: flex;
    flex-direction: row;
    border: 2px black solid;
}

.citiesDisplay{
    display: flex;
    flex-direction: row;
    border: 1px red solid;

}

.weatherDisplay{
    display: flex;
    flex-direction: column;
    border: 1px blue solid;
}

.search{
    border: 2px grey solid;
    display: flex;
    flex-direction: column;

}

.currentWeather{
    border: 1px green solid;
    display: flex;
    flex-direction: column;
}

.forecast{
    border: 1px green solid;
    display: flex;
    flex-direction: row;
}

img{
    width: fit-content;
    height: auto;
}